@model Hotel.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startofdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startofdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endofdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endofdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guests.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.ServiceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rooms.RoomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
